
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cloudflared
  namespace: network
spec:
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      securityContext:
        sysctls:
          - name: net.ipv4.ping_group_range
            value: "65532 65532"
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2026.2.0
          command:
          - cloudflared
          - tunnel
          - --no-autoupdate
          - --loglevel
          - info
          - --metrics
          - 0.0.0.0:2000
          - run
          - --token
          - $(CLOUDFLARE_TOKEN)
          env:
            - name: CLOUDFLARE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-token
                  key: token
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
          ports:
            - containerPort: 60123
              name: metrics
